{
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
        "quotes": ["error", "single"],
        "semi": ["error", "never"],
        "no-console": "warn",
        "@typescript-eslint/no-non-null-assertion": "off"
    }
}
