main.IndexPage
    > div.IndexPage-categories-menu-container
        margin-top: 0.5in
    > h1
        margin: 0.2in 0 0.3in
        text-align: center
        font-size: 3em
        @media screen and (max-width: 5in)
            font-size: 2.5em
    > div.IndexPage-photo-list-container
        padding: 0 min(1in, 5%) 0
